*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Josefin Sans', sans-serif;
}
.mainheader{
	background-image: url(../img/background.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;

}
header{
	width: 100%;
	height: 90vh;
	background-color: rgba(0,0,0,0.5);
}
nav{
	width: 100%;
	height: 10vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
nav .icon{
	width: 5%;
	text-align: center;
}
nav a{
	font-size: 24px;
	font-weight: bold;
	text-decoration: none;
	color: white;
	position: fixed;
}
main{
	width: 100%;
	height: 80vh;
	display: flex-column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: white;
	padding: 0;
	margin: 0;
}
.logo{
	margin-top: 45px;
	margin-bottom: 20px;s
}
.mainone button{
	margin-top: 20px;
	border-radius: 30px;
	border-color: white;
	background-color: rgba(0,0,0,0.5)
}
.btnone{
	padding: 18px 35px;
}
.btntwo{
	padding: 18px 35px;a

}
.mainone button a{
	text-decoration: none;
	color: white;
	font-size: 18px;
}
.logo:hover{
	transform: rotate(540deg) scale(1.2);
}

/** FOR SECOND MAIN**/


.maincontent{
	width: 100%;
	background-color: #D5D8DC;
}
.color{
	background-color: #D5D8DC;
}



/**** DECORATION FOR SECTION ONE ****/



.secone{
	width: 88%;
	height: 270px;
	background-color: white;
	margin-left: 80px;
	margin-right: 20px;
	margin-bottom: 100px;
	position: relative;
	top: 50px;
	color: #797D7F;
	box-shadow: 2px 2px 5px black;

}
.secone .roundone{
	float: left;
	margin: 25px 18px;
}
.secone .roundone h1{
	font-weight: 250;
	color: #424949;
}
.secone .roundone p{
	margin-top: 20px;
	font-weight: 150;
	font-size: 20px;
	word-spacing: 1px;
	line-height: 25px;
}
.secone .roundone h3{
	margin-top: 5px;
	margin-bottom: 5px;
	line-height: 25px;
	font-size: 20px;
	word-spacing: 1px;
}
.secone .roundone button{
	padding: 12px 25px;
	border-radius: 2px;
	margin-top: 0;
	background: white;
}
.roundone button a{
	text-decoration: none;
	font-size: 18px;
	color: #797D7F;
}
.secone .roundoneimg{
	float: right;
	clip-path: polygon(38% 0, 100% 0%, 100% 99%, 0% 100%);
}
.color .roundone{
	width: 67%;
}

/**** DECORATION FOR SECTION TWO ***/


.color .roundtwo{
	width: 67%;
}
.sectwo{
	width: 88%;
	height: 270px;
	background-color: white;
	margin-left: 80px;
	margin-right: 20px;
	margin-top: 50px;
	margin-bottom: 50px;
	color: #797D7F;
	box-shadow: 2px 2px 5px black;
}
.sectwo .roundtwo{
	float: right;
	margin: 25px 18px;
}
.sectwo .roundtwo h1{
	font-weight: 250;
	color: #424949;
}
.sectwo .roundtwo .pone{
	margin-top: 20px;
	font-weight: 150;
	font-size: 20px;
	word-spacing: 1px;
	line-height: 25px;
}
.sectwo .roundtwo h3{
	margin-top: 5px;
	margin-bottom: 5px;
	line-height: 25px;
	font-size: 20px;
	word-spacing: 1px;
}
.sectwo .roundtwo button{
	padding: 12px 25px;
	border-radius: 2px;
	margin-top: 0;
	background: white;
	position: relative;
	top: 15px;
}
.roundtwo button a{
	text-decoration: none;
	font-size: 18px;
	color: #797D7F;
}

.sectwo .roundtwoimg{
	float: left;
	clip-path: polygon(0 0, 54% 0, 100% 100%, 0% 100%);
}


/**** DECORATION FOR SECTION THREE ***/


.color .roundthree{
	width: 67%;
}
.secthree{
	width: 88%;
	height: 270px;
	background-color: white;
	margin-left: 80px;
	margin-right: 20px;
	margin-top: 150px;
	position: relative;
	bottom: 100px;
	color: #797D7F;
	box-shadow: 2px 2px 5px black;
}
.secthree .roundthree{
	float: left;
	margin: 25px 18px;
}
.secthree .roundthree h1{
	font-weight: 250;
	color: #424949;
}
.secthree .roundthree p{
	margin-top: 20px;
	font-weight: 150;
	font-size: 20px;
	word-spacing: 1px;
	line-height: 25px;
}
.secthree .roundthree button{
	padding: 12px 25px;
	border-radius: 2px;
	margin-top: 0;
	background: white;
	position: relative;
	top: 15px;
}
.roundthree button a{
	text-decoration: none;
	font-size: 18px;
	color: #797D7F;
}
.secthree .roundthreeimg{
	float: right;
	clip-path: polygon(38% 0, 100% 0%, 100% 99%, 0% 100%);
}
footer .mainfooter{
	width: 100%;
}
.mainfooter .contactlogo{
	background-image: url(../img/footer.png);
	background-size: cover;
	height: 120px;
	padding-top: 0;
}
.mainfooter .copyright{
	height: 32px;
	background-color: #4A235A;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	color: white;
}
i{
	color: white;
}
.opp{
	width: 100%;
	display: flex;
	justify-content: center;

}
.contactlogo{
	width: 100%;
	display: flex;
	align-items: center;
}
.fa{
	margin-right: 4px;
}