*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Josefin Sans', sans-serif;
}
.mainheader{
	background-image: url(../img/background.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;

}
header{
	width: 100%;
	height: 90vh;
	background-color: rgba(0,0,0,0.5);
}
nav{
	width: 100%;
	height: 10vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
nav .icon{
	width: 5%;
	text-align: center;
	position: fixed;
}
nav a{
	font-size: 24px;
	font-weight: bold;
	text-decoration: none;
	color: white;
	position: relative;
}

/***** FOR MENU BAR ON TOP *****/

nav .nav-right {
  display: none;
  position: fixed;
  right: 7%;
  top: -8%;
  z-index: 11;
  
}

nav .nav-right a{
	display: flex;
	justify-content: space-between;
    text-decoration: none;
    color: #fff;
    margin: 10px;
    padding: 6px 8px;
    background-color: black;
    border-radius: 4px;
    font-size: 1.2rem;
    letter-spacing: 2px;
    opacity: 0.8;
    
}
  
nav .nav-right a:hover{
      opacity:1;
      background-color: #fff;
      color: black;
      transition-duration: 0.3s; 
}

nav #toggle{
    display: none;
}

nav .togglearea{
      
    color: black;
    padding: 10px;
    float: right;
    position: fixed;
    left: 95%;
    top: .5%;
    z-index: 11;
    
}

  


nav .togglearea label{
    background-color: white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
  
nav .togglearea label span{
     background-color: black;
     height: 2px;
     width: 50%;
     margin: 2px 0px;
  }
  

  #toggle:checked + .nav-right{
    
    display: flex;
    top: .7%;
   	transform: rotate(-360deg);
    /*transform: translateX(0);*/
    transition: all .5s;
}

/*** MAIN STARTS FROM HERE ***/
main{
	width: 100%;
	height: 80vh;
	display: flex-column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: white;
	padding: 0;
	margin: 0;
}
.logo{
	margin-top: 45px;
	margin-bottom: 20px;
	transition: all 0.2s ease;
	z-index: 10;
	-webkit-transition:-webkit-transform 0.3s;
}
.mainone button{
	margin-top: 20px;
	border-radius: 30px;
	border-color: white;
	background-color: rgba(0,0,0,0.5)
}
.btnone{
	padding: 18px 35px;
}
.btntwo{
	padding: 18px 35px;

}
.mainone .btnone:hover{
	width: 200px;
	background-image: url(../img/chevron-right.svg);
	background-repeat: no-repeat;
	background-size: 20px;
	background-position:  center right;
}
.mainone .btntwo:hover{
	width: 200px;
	background-image: url(../img/chevron-right.svg);
	background-repeat: no-repeat;
	background-size: 20px;
	background-position:  center right;
}

.mainone button a{
	text-decoration: none;
	color: white;
	font-size: 18px;
}
.logo:hover{
	-webkit-transform: rotate(1440deg) scale(1.2);
}

/** FOR SECOND MAIN**/


.maincontent{
	width: 100%;
	background-color: #D5D8DC;
}
.color{
	background-color: #D5D8DC;
}



/**** DECORATION FOR SECTION ONE ****/



.secone{
	width: 88%;
	height: 270px;
	background-color: white;
	margin-left: 80px;
	margin-right: 20px;
	margin-bottom: 100px;
	position: relative;
	top: 50px;
	color: #797D7F;
	box-shadow: 2px 2px 5px black;

}
.secone .roundone{
	float: left;
	margin: 25px 18px;
}
.secone .roundone h1{
	font-weight: 250;
	color: #424949;
}
.secone .roundone p{
	margin-top: 20px;
	font-weight: 150;
	font-size: 20px;
	word-spacing: 1px;
	line-height: 25px;
}
.secone .roundone h3{
	margin-top: 5px;
	margin-bottom: 5px;
	line-height: 25px;
	font-size: 20px;
	word-spacing: 1px;
}
.secone .roundone button{
	padding: 12px 25px;
	border-radius: 2px;
	margin-top: 0;
	background: white;
}
.roundone button a{
	text-decoration: none;
	font-size: 18px;
	color: #797D7F;
}
.secone .roundoneimg{
	float: right;
	clip-path: polygon(38% 0, 100% 0%, 100% 99%, 0% 100%);
}
.color .roundone{
	width: 67%;
}
.secone .roundone button:hover {
	background-color: #0B470D;
	color: #fff;
}
.secone .roundone a:hover{
	color: #fff;
}
/**** DECORATION FOR SECTION TWO ***/


.color .roundtwo{
	width: 67%;
}
.sectwo{
	width: 88%;
	height: 270px;
	background-color: white;
	margin-left: 80px;
	margin-right: 20px;
	margin-top: 50px;
	margin-bottom: 50px;
	color: #797D7F;
	box-shadow: 2px 2px 5px black;
}
.sectwo .roundtwo{
	float: right;
	margin: 25px 18px;
}
.sectwo .roundtwo h1{
	font-weight: 250;
	color: #424949;
}
.sectwo .roundtwo .pone{
	margin-top: 20px;
	font-weight: 150;
	font-size: 20px;
	word-spacing: 1px;
	line-height: 25px;
}
.sectwo .roundtwo h3{
	margin-top: 5px;
	margin-bottom: 5px;
	line-height: 25px;
	font-size: 20px;
	word-spacing: 1px;
}
.sectwo .roundtwo button{
	padding: 12px 25px;
	border-radius: 2px;
	margin-top: 0;
	background: white;
	position: relative;
	top: 15px;
}
.roundtwo button a{
	text-decoration: none;
	font-size: 18px;
	color: #797D7F;
}

.sectwo .roundtwoimg{
	float: left;
	clip-path: polygon(0 0, 54% 0, 100% 100%, 0% 100%);
}
.sectwo .roundtwo button:hover{
	background-color: #0B470D;
	color: #fff;
}
.sectwo .roundtwo a:hover{
	color: #fff;
}

/**** DECORATION FOR SECTION THREE ***/


.color .roundthree{
	width: 67%;
}
.secthree{
	width: 88%;
	height: 270px;
	background-color: white;
	margin-left: 80px;
	margin-right: 20px;
	margin-top: 150px;
	position: relative;
	bottom: 100px;
	color: #797D7F;
	box-shadow: 2px 2px 5px black;
}
.secthree .roundthree{
	float: left;
	margin: 25px 18px;
}
.secthree .roundthree h1{
	font-weight: 250;
	color: #424949;
}
.secthree .roundthree p{
	margin-top: 20px;
	font-weight: 150;
	font-size: 20px;
	word-spacing: 1px;
	line-height: 25px;
}
.secthree .roundthree button{
	padding: 12px 25px;
	border-radius: 2px;
	margin-top: 0;
	background: white;
	position: relative;
	top: 15px;
}
.roundthree button a{
	text-decoration: none;
	font-size: 18px;
	color: #797D7F;
}
.secthree .roundthreeimg{
	float: right;
	clip-path: polygon(38% 0, 100% 0%, 100% 99%, 0% 100%);
}
.secthree .roundthree button:hover{
	background-color: #0B470D;
	color: #fff;
}
.secthree .roundthree a:hover{
	color: #fff;
}


/*** footer part***/



footer .mainfooter{
	width: 100%;
}
.mainfooter .contactlogo{
	background-image: linear-gradient(rgb(2, 202, 69),rgba(18, 200, 2, .2)), url(../img/footer.png);
	background-size: cover;
	height: 120px;
	padding-top: 0;
	webkit-animation: zoom 5s infinite;
	animation: zoom 5s infinite;
}
@keyframes zoom{
	0%{
		background-size: 100%;
	}
	50%{
		background-size: 105%;
	}
	100%{
		background-size: 100%;
	}
}
.mainfooter .copyright{
	height: 32px;
	background-color: #0C6E1E;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	color: white;
}
i{
	color: white;
}
.opp{
	width: 100%;
	display: flex;
	justify-content: center;

}
.contactlogo{
	width: 100%;
	display: flex;
	align-items: center;
}
.fa{
	margin-right: 4px;
}
.fa:hover{
	transform: rotate(15deg);
	transition-duration: 0.3s;
}
